h2 {  
    color:green;
    background-color:red;
  }
  .heading {
    color:blue;
    background-color:blanchedalmond;
  }
  #heading {
    color:brown;
    background-color:blueviolet;
  }
  .para {
    color:green;
  }
  #iden {
    background-color:aquamarine;
  }